body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 0px;
}
.image-text {
    font-size: small;
}
#author {
    color: rgb(248, 144, 58);
}
.wrapper {
    display: grid;
    /* grid-template-columns: */
    /* grid-template-columns: minmax(0vw, 20vw) auto 10vw minmax(10vw, 20vw); */
    grid-template-columns: minmax(10vw, 20vw) auto 10vw minmax(10vw, 20vw);
    grid-auto-rows: minmax(100px, auto);
    background-color: rgb(130, 128, 124);
}
/* .grid-filler-left {
    grid-column: 1 / 2;
    background-color: aqua;
} */
.ad-box {
    grid-column: 3 / 4;
    grid-row: 3 / 6;
    background-color: rgb(249, 236, 236);
}
.logo-box{
    grid-column: 2 / 3;
    grid-row: 2;
    background-color: rgb(249, 236, 236);
    background-image: url("../images/arsTechnica.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.topnav-box {
    grid-column: 3 / 4;
    grid-row: 2;
    background-color: rgb(249, 236, 236);
}
.header-box {
    grid-column: 2 / 3; /* Dette betyr visst start at line 2 end at line 4 */
    grid-row: 3;
    background-color: rgb(249, 236, 236);
    padding-bottom: 25px;
    padding-left: 50px;
}
.image-box {
    grid-column: 2 / 3;
    grid-row: 4;
    background-image: url("../images/dog75.jpg");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-color: rgb(249, 236, 236);
}
.text-box {
    grid-column: 2 / 3;
    grid-row: 5;
    background-color: rgb(249, 236, 236);
    padding-left: 200px;
}

.secondary-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 14px;
}
.topnav-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.topnav-box li {
    float: left;
}
.topnav-box a{
    display: block;
    color: purple;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.topnav-box li a:hover {
    background-color: green;
    /* color: white; */
}

.test-images img{
    width: 50vw;
    height: 50vh;
}

@media (max-width: 1300px) { 
    .wrapper {grid-template-columns: 1fr}
    /* .grid-filler-left {display: none} */
  }

.oslomet-wrapper {
    display: grid;
    /* grid-template-columns: */
    /* grid-template-columns: minmax(0vw, 20vw) auto 10vw minmax(10vw, 20vw); */
    grid-template-columns: minmax(10vw, 20vw) auto 10vw minmax(10vw, 20vw);
    grid-auto-rows: minmax(100px, auto);
    background-color: white;
}

.oslomet-logo {
    grid-column: 2 / 3;
    grid-row: 1;
    background-image: url("../images/oslomet_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 129, 0);
}
.oslomet-navbar {
    grid-column: 3 / 4;
    grid-row: 1;
    background-color: rgb(255, 129, 0);
    padding-top: 25px;
}

.oslomet-main-box {
    grid-column: 2 / 3;
    grid-row: 2;
    padding-left: 100px;
}

.oslomet-footer {
    grid-column: 2 / 3;
    grid-row: 3;
    background-color: rgb(255, 129, 0);
    padding-left: 30px;
}
.oslomet-footer-inspo {
    grid-column: 3 / 4;
    grid-row: 3;
    background-color: rgb(255, 129, 0);
    padding-left: 30px;
}
.oslomet-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.oslomet-navbar li {
    float: left;
}
.oslomet-navbar a{
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.oslomet-navbar li a:hover {
    background-color: rgb(254, 151, 47);
    /* color: white; */
}

@media (max-width: 1300px) { 
    .oslomet-wrapper {grid-template-columns: 1fr}
    /* .grid-filler-left {display: none} */
  }

.oslomet-filler-top {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: rgb(255, 129, 0);
}
.oslomet-filler-bottom {
    grid-column: 1 / 5;
    grid-row: 3;
    background-color: rgb(255, 129, 0);
}

